# Dependencias principales para análisis de datos
numpy==2.0.2
pandas==2.3.1
matplotlib==3.9.4
seaborn==0.13.2
scikit-learn==1.6.1
plotly==6.2.0

# Dependencias para Jupyter Notebooks
ipykernel==6.29.5
ipython==8.18.1
jupyter-client==8.6.3
jupyter-core==5.8.1

# Dependencias de soporte
scipy==1.13.1
pillow==11.3.0
python-dateutil==2.9.0.post0
pytz==2025.2
